<h1><b><%= @game.name %></b> <small>- added by: <%= @game.user.username %> </small></h1>

<h2><%= @game.release_year %></h2>

<b>Genre: </b> <%= @game.genre.name %><br><br>

<b>Developer: </b> <%= @game.developer %><br><br>

<b>Info: </b> <%= @game.description %><br><br>

<%= link_to 'Edit Game', [:edit, @game] %>

<%= link_to 'Delete Game', @game, method: :delete, data: { confirm: 'Are you sure?' } %><br>

<%= link_to "Add A Review", new_game_comment_path(@game) %><br>
<%= link_to 'View All Reviews', game_comments_path(@game) %><br><br>

<b>Comments: </b><br>
<% @game.comments.each do |comment| %>
    "<%= comment.body %>" -by: <b><%= comment.user.username %></b><br>
    <%= link_to 'Edit Comment', edit_game_comment_path(@game, comment) %>
    <%= link_to 'Delete Comment', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
    <br><br>
 <% end %>