<!DOCTYPE html>
<html>
  <head>
    <title>GamesFull</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="wrapper" role="navigation">
      <div class="container">
        <% if !current_user %>
          <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
          <a class="navbar-brand" href="<%= new_user_path %>"/>Sign Up</a>
          <%= link_to "Sign in", login_path, class:"navbar-brand" %>
          <% else %>
          <a class="navbar-brand" href="<%= games_path %>"/>Home</a>
          <%= link_to "#{current_user.username}'s Profile", user_path(current_user), class:"navbar-brand"%>
          <%= link_to "Sign Out", logout_path, class:"navbar-brand", method:'delete' %>
        <% end %>

        <% flash.each do |type, msg| %>
          <div class="alert alert-warning" role-"alert" >
            <%= msg %>
          </div>
        <% end %>
        
    <%= yield %>
  </body>
</html>
